@import 'bootstrap';

.add-button {
  margin-top: 35px;
  margin-bottom: 40px;
  width: 100%;
}

.fancy {
  background-color: #FFC;
  padding: 2rem;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 20px;
}